da/server/common/schema/DataItem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://openscada.org/DA/Storage/DataItem" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:item="http://openscada.org/DA/Storage/DataItem">

    <element name="data-item" type="item:DataItemType"></element>
    
    <complexType name="DataItemType">
        <sequence>
          <element name="attributes" type="item:AttributesType" maxOccurs="1" minOccurs="0"></element>
        </sequence>
        <attribute name="id" type="string" use="required"></attribute>
    </complexType>


    <complexType name="AttributesType">
      <sequence>
        <element name="attribute" type="item:AttributeType"></element>
      </sequence></complexType>

    <complexType name="AttributeType">
      <attribute name="name" use="required" type="string"></attribute>
      <attribute name="value" use="required"  type="string"></attribute>
    </complexType>

</schema>