da/server/common/schema/DataItem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://openscada.org/DA/Storage/DataItem" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:item="http://openscada.org/DA/Storage/DataItem">

    <element name="data-item" type="item:DataItemType"></element>

    <complexType name="DataItemType">
        <sequence>
          <element name="attributes" type="item:AttributesType" maxOccurs="1" minOccurs="0"></element>
        </sequence>
        <attribute name="id" type="string" use="required">
        </attribute>
    </complexType>

    <complexType name="AttributesType">
      <sequence>
        <element name="attribute" type="item:AttributeType" maxOccurs="unbounded" minOccurs="0"></element>
      </sequence></complexType>

    <complexType name="AttributeType">
      <complexContent>
        <extension base="item:VariantType">
          <sequence></sequence>
          <attribute name="name" use="required" type="string"></attribute>
        </extension>
      </complexContent>
    </complexType>

    
    <complexType name="VariantType">
      <choice>
        <element name="void" type="item:VariantVoidType"></element>
        <element name="string" type="string"></element>
        <element name="integer" type="int"></element>
        <element name="double" type="double"></element>
        <element name="boolean" type="boolean"></element>
      </choice>
    </complexType>
    
    <complexType name="VariantVoidType"></complexType>

    <element name="data-item-reference" type="item:DataItemReferenceType">
    </element>

    <complexType name="DataItemReferenceType">
        <attribute name="ref" type="string" use="required">
        </attribute>
    </complexType>

</schema>