da/server/exec/schema/commands.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://openscada.org/DA/ExecServer/Commands"
	xmlns:components="http://openscada.org/DA/ExecServer/Commands"
	elementFormDefault="qualified" xmlns:hive="http://openscada.org/DA/Hive" xmlns:Q1="http://openscada.org/Common">

    <import schemaLocation="da_server_common/Hive.xsd" namespace="http://openscada.org/DA/Hive"/>
	
    <element name="root" type="components:RootType"></element>
    
    <complexType name="RootType">
    	<sequence>
    		<element name="devices" type="components:DevicesType"
    			maxOccurs="1" minOccurs="1">
    		</element>
    	</sequence>
    </complexType>

    <complexType name="DevicesType">
    	<sequence>
    		<element name="device" type="components:DeviceType"
    			maxOccurs="unbounded" minOccurs="0">
    		</element>
    	</sequence>
    </complexType>

    <complexType name="DeviceType">
    	<attribute name="host" use="required">
    		<annotation>
    			<documentation>
    				The hostname or IP address of the device
    			</documentation>
    		</annotation>
    		<simpleType>
    			<restriction base="string">
    				<whiteSpace value="collapse"></whiteSpace>
    				<pattern value="([0-9a-zA-Z]+)(\.[0-9a-zA-Z]+)*"></pattern>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="port" type="short" use="required">
    		<annotation>
    			<documentation>
    				The port number of the device
    			</documentation>
    		</annotation>
    	</attribute>
    	<attribute name="id" use="required">
    		<annotation>
    			<documentation>The ID of the device</documentation>
    		</annotation>
    		<simpleType>
    			<restriction base="string">
    				<pattern value="[a-zA-Z0-9]+"></pattern>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="community" type="string" use="required">
    		<annotation>
    			<documentation>
    				The SNMP community name. Usually &quot;public&quot;.
    			</documentation>
    		</annotation></attribute>
    </complexType>
</schema>